body{
background-color: #000;
}


#my-video {
  box-shadow: 0 10px 50px rgba(130, 56, 56, 0.85),0 10px 50px rgba(0, 0, 0, 0.65);
width:100%
}

body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

 #my-video {
            width: 100%;
            max-width: 600px; /* Optional: limit the width for larger screens */
            height: auto;
          margin: 0; /* No margin on any side */
            padding: 0; 
}